* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}
.row-container {
  display: flex;

  height: 100%;

  width: 100%;
}
.grid-element {
  display: flex;
  background-color: blue;
  width: 100%;
  height: 100%;
  outline: 0.1em solid;
}
.grid-element:hover {
  background-color: #f5f5dc;
}
